/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body {
		text-align: center;
		line-height: 40px;
	}
	.step{
		width: 320px;
	}

	h1 { font-size: 2em; }
	h2 { font-size: 1.2em; }

	#first {
		line-height: 45px;
	}
	#first h1 {
		font-size: 2em;
	}
	#first h2 {
		font-size: 1em;
	}

	#second h2:first-child {
			margin-left: -40%;
	}
	#second h2 div {
			margin-left: 1%;
	}

	#third p {
		font-size: 1em;
		text-align: center;
	}

	#fourth span {
		font-size: 2em;
	}
	#map {
		width: 320px;
		height: 400px;
	}

	#fifth {
		width: 320px;
	}

	#fifth pre {
		width: 320px;
		font-size: 0.8em;
	}

	/*#neon1 {
		font-family: 'Audiowide', cursive;
		color: #FF9900;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
	}
	#neon2 {
		font-family: 'Audiowide', cursive;
		color: #FF1177;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
	}
	#neon3 {
		font-family: 'Audiowide', cursive;
		color: #BA01FF;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
	}*/

}
